body {
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: #9BB0C1;

}

main {
    background-color: #51829B;
    border-radius: 20px;
    padding: 20px;
}

main h1 {
    font-family: "Turret Road";
    font-style: color;
}

main h2 {
    font-family: "Turret Road";
    font-style: color;
}

main p {
    font-family: "Truculenta";
}
section.info-extra{
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px black;
}

section.johnny-img{
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px black;
}

section.table {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px black;
    font-family: "Truculenta";
}


section.Contato {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px black;
}
footer {
    background-color: #496989;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
 footer p{
    text-decoration: none;
 } 
.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #496989;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.botao a {
    color: black;
    text-decoration: none;
}

.botao:hover {
    background-color: #7093b6;
    cursor: pointer;
}   